/* Configuration de base : pas de scroll */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#scene-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene {
  position: relative;
  width: 1920px;
  height: 1080px;
  transform-origin: center center;
}

.background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Fond qui apparaît après l'animation */
.background-reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #2c0000 0%, #000000 100%);
    z-index: -1;
}

/* Style commun des rideaux */
.curtain {
    top: 0;
    width: 50%;
    height: 100%;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 40px, rgba(0,0,0,0.2) 45px);
    z-index: 5;
    transition: transform 2s ease-in, opacity 1.5s ease-in;
    pointer-events: none;
}

.left-curtain { 
    width: 32%;
    left: 20%; 
    z-index: 6;

}

.right-curtain {
    width: 49%;
    right: 0; 
    z-index: 6;

}

/* Éléments interactifs devant */
.element {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, opacity 1.2s ease-in;
}

.bg {   
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: transform 8.5s ease-in, opacity 1.5s ease-in;
    transition-delay: 1s;
    pointer-events: none;
}

/* Positionnement "à la main" des objets */

#elements-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.item-1 {
    bottom: 40px;
    right: 1120px;
    width: 470px;
    z-index: 11;
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 1));
}

.item-2 { 
    bottom: 50px;
    right: 250px;
    width: 570px;
    z-index: 11;
    filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 1));
}

.item-3 { 
    bottom: 260px;
    right: 400px;
    width: 145px;
    z-index: 10;
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 1));
}

.item-4 { 
    bottom: 135px;
    right: 760px;
    width: 85px;
    z-index: 10;
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 1));
}

.item-5 { 
    bottom: 50px;
    right: 200px;
    width: 115px;
    z-index: 10;
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 1));
}

.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover {
    filter: drop-shadow(0 10px 25px rgba(255, 255, 255, 0.6));
    transform: scale(1.1);
}

/* --- ÉTATS ANIMÉS (déclenchés par JS) --- */

/* Ouverture des rideaux */
.active .left-curtain { 
    transform: translateX(-165%); 
    opacity: 0;
}

.active .right-curtain { 
    transform: translateX(100%); 
    opacity: 0;
}

/* Animation "avancer vers le fond" */
/* On fait grandir l'image et on la descend pour simuler le passage de la caméra */
.active .element {
    transform: scale(3) translateY(100vh);
    opacity: 0;
    pointer-events: none; /* Désactive le clic pendant l'animation */
}

.active .bg {
    transform: scale(3) translateY(100vh);
    opacity: 0;
    pointer-events: none; /* Désactive le clic pendant l'animation */
}



/* @media (max-aspect-ratio: 16/9) {
  #scene {
    transform: scale(calc(100vw / 1920));
  }
}

@media (min-aspect-ratio: 16/9) {
  #scene {
    transform: scale(calc(100vh / 1080));
  }
}

@media (max-width: 1200px) {
  #elements-container {
        right: -20%;
    }
}

@media (max-width: 1080px) {
  #elements-container {
        right: -25%;
        width: 60%;
    }  
} */