body, html {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/oeuvres/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.01rem;
    line-height: 1.3;
    color: white;
}

.page-transition {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
    pointer-events: none;
}

.Home {
    position: fixed;
    z-index: 20;
    right: 100px;
    top: 20px;
    color: white;
    font-family: 'Cinzel', serif;
    transition: transform 2.5s ease-in, opacity 2s ease-in;
    pointer-events: auto;
}

.Home a {
    color: white;
    
}

h1, h2 {
    font-family: 'Cinzel', serif;
    letter-spacing: 0.15em;
    font-weight: 800;
}

#titre {
    padding: 0 5vh;
    position: fixed;
    z-index: 5;
}

.panel {
    position: absolute;
    padding-top: 10vh;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-content {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding: 4vh 4vw;
    
    -webkit-mask-image: radial-gradient(circle at center,
        black 60%,
        transparent 100%);
    mask-image: radial-gradient(circle at center,
        black 60%,
        transparent 100%);

    border-radius: 50px;

}


.panel-content img {
    width: 100%;
    max-width: 400px;
}


.panel-content p {
    max-width: 500px;
    line-height: 1.6;
}

.panel-content a {
    text-transform: uppercase;
    cursor: pointer;
    animation: neonFlicker 4s infinite, slightShake 0.2s infinite;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 20px #ffffff,
        0 0 40px #ffffff;
}

@keyframes neonFlicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
    }

    20%, 24%, 55% {
        opacity: 0.4;
    }
}


.transition-video {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}


.transition-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#enterFilm {
  position: relative;
  padding: 14px 40px;

  font-family: "Cinzel", serif;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #d0d0d0;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);

  cursor: pointer;
  overflow: hidden;

  transition: all 0.4s ease;
}

#enterFilm:hover {
  color: white;
  border-color: rgba(255,255,255,0.6);
  letter-spacing: 6px;
}