body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("/assets/oeuvres/lost_highway.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}