body, html {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/parcours/mulholland.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.01rem;
    line-height: 1.3;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    backdrop-filter: blur(2px);
    background: radial-gradient(
        circle at center,
        rgba(0,0,0,0) 30%,
        rgba(0,0,0,0.7) 65%,
        rgba(0,0,0,1) 100%
    );
    z-index: 1;
}

.Home {
    position: fixed;
    z-index: 20;
    right: 100px;
    top: 20px;
    color: white;
    font-family: 'Cinzel', serif;
    transition: transform 2.5s ease-in, opacity 2s ease-in;
    pointer-events: auto;
}

.Home a {
    color: white;
    
}

.scene {
    position: fixed;
    inset: 0;
    overflow: hidden;
}


.background {
    position: absolute;
    inset: 0;
    background: url("../../assets/parcours/mulholland.jpg") center center / cover no-repeat;
    transition: transform 2.5s ease-in-out;
}

.zoom {
    transform: scale(2.2);
}

.fade {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s ease;
    z-index: 10;
}

.fade.active {
    opacity: 1;
}

.hidden {
    opacity: 0;
    transition: 1s;
}

#container {
    position: relative;
    z-index: 2;
    padding-top: 2vh;
    
}


#parcours {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
}

h1 {
    font-family: 'Cinzel', serif;
    letter-spacing: 0.15em;
    padding: 0 5vh;
    font-weight: 800;
}


.text {
    flex-basis: 35%;
    padding: 0 5vh;
    z-index: 2;
}

.text p {
    text-align: justify;
    max-width: 500px;
}

#silencio {
    display: flex;
    justify-content: center;
}

.neon {
  position: relative;
  padding: 14px 40px;

  font-family: "Cinzel", serif;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #d0d0d0;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);

  cursor: pointer;
  overflow: hidden;

  transition: all 0.4s ease;
    animation: neonFlicker 4s infinite, slightShake 0.2s infinite;
    text-shadow:
            0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 40px #ffffff;
}

.neon:hover {
  color: white;
  border-color: rgba(255,255,255,0.6);
  letter-spacing: 6px;
}   

@keyframes neonFlicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
    }

    20%, 24%, 55% {
        opacity: 0.4;
    }
}

@keyframes slightShake {
    0% { transform: translateX(0); }
    50% { transform: translateX(0.5px); }
    100% { transform: translateX(0); }
}

.neon::after {
    content: "";
    position: absolute;
    inset: -20px;
    background: radial-gradient(circle, rgba(255,255,255, 0.1), transparent 70%);
    filter: blur(30px);
    z-index: -1;
}


.light-pulse {
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle at 50% 20%, rgba(255,255,255), transparent 60%);
    animation: pulse 6s ease-in-out infinite;
    z-index: 0;
}


@keyframes pulse {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 0.6; }
}
